.background-home {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 20%, #414141 90%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background-home .brand {
  margin-left: 60px;
  margin-bottom: 100px;
  padding: 100px 0 0 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1.4em;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.background-home .quote-message {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-home .quote-message .protected {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.background-home .quote-message .quote-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.background-home .quote-message .quote-box .quote {
  font-weight: 500;
  font-style: italic;
  font-size: 32px;
  min-width: 150px;
  max-width: 300px;
  padding: 10px 0 0 40px;
  vertical-align: middle;
  margin: 0;
  line-height: 80px;
  text-shadow: -10px 20px 5px #000000;
}

.background-home .quote-message .branch {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-home .quote-message .branch .line {
  display: block;
  width: 10px;
  height: 100%;
  background-color: black;
  margin: 0 50px 0 25px;
  overflow: hidden;
  -webkit-box-shadow: 15px 20px 5px #000000;
          box-shadow: 15px 20px 5px #000000;
  border-radius: 50%;
}

.background-home .quote-message .letter-box {
  width: 30%;
}

.background-home .quote-message .letter-box .address {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 20px;
  word-spacing: 5px;
  text-shadow: 20px 20px 5px #000000;
}

.background-home .quote-message .letter-box .first-description {
  line-height: 200%;
  text-shadow: 20px 20px 3px #000000;
}

@media (max-width: 850px), (max-height: 400px) {
  .background-home {
    overflow: scroll;
  }
  .background-home .brand {
    margin-bottom: 70px;
  }
  .background-home .quote-message {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    margin-bottom: 60px;
  }
  .background-home .quote-message .quote-box {
    text-align: center;
    margin: auto;
    height: 80vh;
  }
  .background-home .quote-message .quote-box .quote {
    padding: 0;
    min-width: 200px;
  }
  .background-home .quote-message .letter-box {
    text-align: left;
    line-height: 2;
    margin: auto;
    width: 70%;
    height: 70vh;
  }
}
/*# sourceMappingURL=home.css.map */