/*! General */
/*! Scrollbar */
/*! Left side - navigation style */
/*! Right side - content style */
.scroll {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.container .scroll {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.container ::-webkit-scrollbar {
  width: 0.25em;
}
.container ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

.controller .container .navigation {
  background: #4b4b4b;
  padding: 10px 20px 10px 40px;
}
.controller .container .navigation .scroll {
  padding: 30px 0;
}
.controller .container .navigation .scroll .about {
  margin-right: 25px;
}
.controller .container .navigation .scroll .about a {
  text-decoration: none;
}
.controller .container .navigation .scroll .about .profile-text {
  position: relative;
  display: flex;
  color: rgba(219, 219, 219, 0.5);
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(219, 219, 219, 0.5);
}
.controller .container .navigation .scroll .about .profile-text .img-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.controller .container .navigation .scroll .about .profile-text .img-box img {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.controller .container .navigation .scroll .about .profile-text h2 {
  color: #fff;
  font-size: 1.4em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  line-height: 1.4em;
}
.controller .container .navigation .scroll .about .profile-text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.controller .container .navigation .scroll .about .navigation-point {
  padding-top: 30px;
}
.controller .container .navigation .scroll .about .navigation-point .title {
  font-size: 18px;
  cursor: pointer;
  display: inline-flex;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.controller .container .navigation .scroll .about .navigation-point .title p {
  margin-bottom: 0;
}
.controller .container .navigation .scroll .about .navigation-point .contacts {
  position: relative;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon {
  display: block;
  padding-left: 10px;
  position: relative;
  list-style: none;
  font-size: 16px;
  margin-bottom: 18px;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .svg-icon-box {
  display: inline;
  font-size: 16px;
  color: #000000;
  padding-right: 10px;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .svg-icon-box svg {
  width: 20px;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box, .controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > span, .controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > a > span {
  display: inline;
  color: #fff;
  font-weight: 300;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > span:hover, .controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > a > span:hover {
  cursor: pointer;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > a > .active, .controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > span {
  transition: font-weight 0.2s linear;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > a > .active:hover, .controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > span:hover {
  font-weight: 600;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box > .offset {
  padding-left: 30px;
}
.controller .container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon:last-child {
  margin-bottom: 0;
}
.controller .container .navigation .scroll .about .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  vertical-align: text-top;
}
.controller .container .navigation .scroll .about .title svg {
  cursor: pointer;
  display: inline;
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}
.controller .container .navigation .scroll .about .title svg.show {
  transform: rotate(0);
}
.controller .container .navigation .scroll .about .experience .xp-s {
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
.controller .container .navigation .scroll .about .experience .xp-s .xp {
  border: 5px solid #4b4b4b;
  padding: 5px;
  margin: 0;
  transition: all 0.5s linear;
}
.controller .container .navigation .scroll .about .experience .xp-s .xp h5 {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
.controller .container .navigation .scroll .about .experience .xp-s .xp h4:nth-child(n) {
  color: #fff;
}
.controller .container .navigation .scroll .about .experience .xp-s .xp h4 {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
.controller .container .navigation .scroll .about .experience .xp-s .xp .company {
  font-style: italic;
  font-weight: 100;
}
.controller .container .navigation .scroll .about .experience .xp-s .xp:hover {
  cursor: pointer;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.controller .container .navigation .scroll .about .experience .xp-s.show-dropdown {
  max-height: 750px;
  transition: max-height 0.5s linear;
}
.controller .container .navigation .scroll .about .navigation-point.language .text {
  color: #fff;
  text-transform: capitalize;
}
.controller .container .navigation .scroll .about .navigation-point.language .text .spec {
  padding-left: 5px;
  color: grey;
  cursor: pointer;
  font-weight: 700;
}
.controller .container .navigation .scroll .about .navigation-point.language .text .spec:hover {
  color: #000000;
}
.controller .container .navigation .scroll .about .navigation-point.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: rgba(202, 202, 202, 0.3);
  display: block;
  margin: 10px 0;
}
.controller .container .navigation .scroll .about .navigation-point.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000000;
}

/*! General */
/*! Scrollbar */
/*! Left side - navigation style */
/*! Right side - content style */
.scroll {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.container .scroll {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.container ::-webkit-scrollbar {
  width: 0.25em;
}
.container ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

.controller .container .detail {
  background: #dbdbdb;
  padding: 10px 20px 10px 40px;
}
.controller .container .detail .active.highlight-text {
  border-bottom: 2px dotted rgba(0, 0, 0, 0);
  text-underline-offset: 5px;
  transition: all 0.5s linear;
}
.controller .container .detail .active.highlight-text:hover {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  text-decoration-color: transparent;
}
.controller .container .detail .scroll .about {
  margin-right: 25px;
}
.controller .container .detail .scroll .about .title {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  color: #4b4b4b;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 45px 0 30px 0;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.controller .container .detail .scroll .about .title p {
  margin: 0;
}
.controller .container .detail .scroll .about .title svg {
  cursor: pointer;
  display: inline;
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}
.controller .container .detail .scroll .about .title svg.show {
  transform: rotate(0);
}
.controller .container .detail .scroll .about p {
  color: #4b4b4b;
}
.controller .container .detail .scroll .about .info:first-of-type .title {
  margin-top: 30px;
}
.controller .container .detail .scroll .about .info:first-of-type p:last-of-type {
  margin: 0;
}
.controller .container .detail .scroll .about .info {
  margin-right: 25px;
  position: relative;
}
.controller .container .detail .scroll .about .info a {
  text-decoration: none;
}
.controller .container .detail .scroll .about .info .anchor-jump {
  position: absolute;
  top: -25px;
  visibility: hidden;
  width: 100%;
}
.controller .container .detail .scroll .about .info .card {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border: none;
}
.controller .container .detail .scroll .about .info .card .text .show-dropdown p:last-child, .controller .container .detail .scroll .about .info .card .text .show-dropdown ul:last-child, .controller .container .detail .scroll .about .info .card .text .show-dropdown div:last-child {
  margin-bottom: 0;
}
.controller .container .detail .scroll .about .info .card .date-company {
  max-width: 140px;
  min-width: 140px;
  order: 1;
}
.controller .container .detail .scroll .about .info .card .date-company .date-company-text, .controller .container .detail .scroll .about .info .card .date-company .date-company-text > a > span {
  text-transform: uppercase;
  color: grey;
  font-weight: 600;
  line-height: normal;
}
.controller .container .detail .scroll .about .info .card .date-company .date-company-text > a > span {
  transition: all 0.5s linear;
  border-bottom: 2px dotted rgba(0, 0, 0, 0);
}
.controller .container .detail .scroll .about .info .card .date-company .date-company-text > a > span:hover {
  font-stretch: condensed;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.controller .container .detail .scroll .about .info .card .date-company .date-company-text.time {
  font-size: 16px;
}
.controller .container .detail .scroll .about .info .card .date-company .date-company-text.company {
  font-size: 14px;
}
.controller .container .detail .scroll .about .info .card .date-company div:not(:first-child) {
  border-top: 1px dotted;
  padding-top: 5px;
}
.controller .container .detail .scroll .about .info .card .branch {
  padding: 0 15px;
  order: 2;
}
.controller .container .detail .scroll .about .info .card .branch .branch-up {
  display: block;
  width: 2px;
  height: 3px;
  background-color: grey;
  transform: translate(7px, 0);
}
.controller .container .detail .scroll .about .info .card .branch .rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid grey;
  margin-top: 0;
  transition: background-color 0.5s linear;
}
.controller .container .detail .scroll .about .info .card .branch .rounder.active, .controller .container .detail .scroll .about .info .card .branch .rounder:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.controller .container .detail .scroll .about .info .card .branch .rounder:active {
  background-color: #000000;
}
.controller .container .detail .scroll .about .info .card .branch .rounder.active:hover {
  background-color: #fff;
}
.controller .container .detail .scroll .about .info .card .branch .rounder.active:active {
  background-color: #000000;
}
.controller .container .detail .scroll .about .info .card .branch .branch-down {
  display: block;
  width: 2px;
  height: 110%;
  background-color: grey;
  transform: translate(7px, 0);
}
.controller .container .detail .scroll .about .info .card .text {
  order: 3;
}
.controller .container .detail .scroll .about .info .card .text h4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 8px;
  width: 100%;
  align-items: end;
}
.controller .container .detail .scroll .about .info .card .text h4 div {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
.controller .container .detail .scroll .about .info .card .text h4 div p {
  color: rgba(0, 0, 0, 0.6);
}
.controller .container .detail .scroll .about .info .card .text h4 svg {
  display: none;
}
.controller .container .detail .scroll .about .info .card .text .date-company-text, .controller .container .detail .scroll .about .info .card .text .date-company-text > a > span {
  text-transform: uppercase;
  color: grey;
  font-weight: 600;
  line-height: normal;
}
.controller .container .detail .scroll .about .info .card .text .date-company-text > a > span {
  transition: all 0.5s linear;
  border-bottom: 2px dotted rgba(0, 0, 0, 0);
}
.controller .container .detail .scroll .about .info .card .text .date-company-text > a > span:hover {
  font-stretch: condensed;
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.controller .container .detail .scroll .about .info .card .text .date-company-text.place {
  font-size: 14px;
}
.controller .container .detail .scroll .about .info .card .text .date-company-text.place > a > span {
  text-wrap: nowrap;
}
.controller .container .detail .scroll .about .info .card .text .card-detail {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s linear;
}
.controller .container .detail .scroll .about .info .card .text .card-detail.show {
  max-height: 800px;
}
.controller .container .detail .scroll .about .info .card:last-child .branch-down {
  display: none;
}
.controller .container .detail .scroll .about .info .card:first-of-type .branch-up {
  background-color: #dbdbdb;
}
.controller .container .detail .scroll .about .hard-skills .title {
  margin-bottom: 45px;
}
.controller .container .detail .scroll .about .hard-skills .card {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}
.controller .container .detail .scroll .about .hard-skills .card h4, .controller .container .detail .scroll .about .hard-skills .card .frameworks {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}
.controller .container .detail .scroll .about .hard-skills .card h4 > a > span {
  text-transform: uppercase;
  color: grey;
}
.controller .container .detail .scroll .about .hard-skills .card .frameworks, .controller .container .detail .scroll .about .hard-skills .card .frameworks > a > span {
  color: grey;
  margin-top: 6px;
  font-size: 12px;
  width: fit-content;
  grid-column: 1/3;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar {
  position: relative;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .end-gap {
  right: 0;
  position: absolute;
  height: 100%;
  animation: normal;
  animation-name: gap-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #cacaca;
}
@keyframes gap-animation {
  0% {
    background-color: #cacaca;
  }
  50% {
    background-color: grey;
  }
  100% {
    background-color: #cacaca;
  }
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .past-bar {
  position: absolute;
  height: 100%;
  background-color: #cacaca;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .past-bar .active-bar {
  position: absolute;
  height: 100%;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .past-bar .active-bar .active-limit {
  position: absolute;
  bottom: -5px;
  width: 4px;
  height: 20px;
  border-radius: 2px;
  background-color: grey;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .past-bar .active-bar .end-active-limit {
  right: 0;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .past-bar .active-bar .active-bar-section {
  position: relative;
  height: 100%;
  background-color: #000000;
}
.controller .container .detail .scroll .about .hard-skills .card .skill-bar .past-bar .active-bar .active-time-duration-text {
  position: absolute;
  font-size: 12px;
  height: 18px;
  font-style: italic;
  left: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controller .container .detail .scroll .about .interest .xp-s {
  padding-left: 0;
}
.controller .container .detail .scroll .about .interest .xp-s .xp {
  padding: 10px 0;
}
.controller .container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
  justify-content: center;
  align-items: center;
}
.controller .container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon .text-box {
  text-transform: uppercase;
  color: grey;
  font-weight: 500;
  font-size: 16px;
}
.controller .container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon .text-box h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}
.controller .container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon .svg-icon {
  position: relative;
  min-width: 4rem;
  font-size: 2rem;
  color: #000000;
}

@media (max-width: 1000px) {
  .controller .container .detail .scroll .about .info .card {
    display: grid;
  }
  .controller .container .detail .scroll .about .info .card .text {
    border-bottom: 2px solid #000000;
    padding-bottom: 8px;
  }
  .controller .container .detail .scroll .about .info .card .text .card-detail.show {
    max-height: 900px;
  }
  .controller .container .detail .scroll .about .info .card .text h4 {
    display: inline-flex;
    gap: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
  }
  .controller .container .detail .scroll .about .info .card .text h4 svg {
    cursor: pointer;
    display: inline;
    transform: rotate(180deg);
    transition: transform 0.3s linear;
  }
  .controller .container .detail .scroll .about .info .card .text h4 svg.show {
    transform: rotate(0);
  }
  .controller .container .detail .scroll .about .info .card .text .show-dropdown {
    padding-right: 14px;
  }
  .controller .container .detail .scroll .about .info .card .branch {
    display: none;
  }
  .controller .container .detail .scroll .about .info .card .date-company {
    max-width: none;
  }
}
body {
  background-image: none;
  opacity: 0.9;
}

.controller {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 20%, #4b4b4b 90%);
}
.controller .container {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 0;
  width: 100%;
  background: #dbdbdb;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  overflow: hidden;
}
.controller .container .protected {
  user-select: none;
}
.controller .container .sub-container .scroll {
  height: calc(100vh - calc(calc(60px + 50px) + 20px));
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .controller {
    height: fit-content;
  }
  ::-webkit-scrollbar {
    width: 0.25em;
  }
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  .controller .container {
    grid-template-columns: repeat(1, 1fr);
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 20%, #4b4b4b 90%);
  }
}

/*# sourceMappingURL=biography.css.map */
