/*! Left side - navigation style */
/*! Right side - content style */
body {
  background-image: none;
  background-color: grey;
  opacity: 0.9;
}

.controller {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  min-height: 100vh;
  background-color: lightblue;
  scroll-behavior: smooth;
}

.container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 300px;
  background: #fff;
  padding: 0;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.container .navigation {
  position: relative;
  background: #003147;
  padding: 40px;
}

.container .navigation a {
  text-decoration: none;
}

.container .profile-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.container .profile-text .img-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.container .profile-text .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: c;
     object-fit: c;
}

.container .profile-text h2 {
  color: #fff;
  font-size: 1.4em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  line-height: 1.4em;
}

.container .profile-text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.container .navigation-point {
  padding-top: 30px;
}

.container .navigation-point .title {
  font-size: 18px;
}

.container .navigation-point .contacts {
  position: relative;
}

.container .navigation-point .contacts .svg-extended-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 10px;
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 16px;
}

.container .navigation-point .contacts .svg-extended-icon .svg-icon-box {
  display: inline;
  width: 30px;
  font-size: 16px;
  color: #03a9f4;
  padding-right: 10px;
}

.container .navigation-point .contacts .svg-extended-icon .text-box {
  display: inline;
  color: #fff;
  font-weight: 300;
}

.container .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.container .education .xp-s, .container .experience .xp-s {
  padding-left: 0;
}

.container .education .xp-s .xp:hover, .container .experience .xp-s .xp:hover {
  cursor: pointer;
  border: 5px solid rgba(3, 169, 244, 0.2);
  border-radius: 10px;
  background-color: rgba(3, 169, 244, 0.2);
}

.container .education .xp-s .xp, .container .experience .xp-s .xp {
  border: 5px solid #003147;
  padding: 5px;
  margin: 0;
}

.container .education .xp-s .xp h5, .container .experience .xp-s .xp h5 {
  color: #03a9f4;
  font-weight: 500;
  font-size: 16px;
}

.container .education .xp-s .xp h4:nth-child(), .container .experience .xp-s .xp h4:nth-child() {
  color: #fff;
  font-weight: 500;
}

.container .education .xp-s .xp h4, .container .experience .xp-s .xp h4 {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.container .navigation-point.language .text {
  color: white;
}

.container .navigation-point.language .text .spec {
  padding-left: 5px;
  color: grey;
  cursor: pointer;
}

.container .navigation-point.language .text .spec:hover {
  color: #03a9f4;
}

.container .navigation-point.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: rgba(202, 202, 202, 0.3);
  display: block;
  margin: 10px 0px;
}

.container .navigation-point.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.container .content {
  position: relative;
  background: #fff;
  padding: 50px 50px 80px 50px;
}

.container .content .title {
  color: #003147;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
  vertical-align: text-top;
}

.container .content p {
  color: #003147;
}

.container .content .about {
  margin-bottom: 50px;
  position: relative;
}

.container .content .about .anchor-jump {
  position: absolute;
  top: -75px;
  visibility: hidden;
  width: 100%;
}

.container .content .about .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  border: none;
}

.container .content .about .card .date-company {
  max-width: 140px;
  min-width: 140px;
}

.container .content .about .card .date-company h5 {
  text-transform: uppercase;
  color: grey;
  font-weight: 600;
  font-size: 16px;
}

.container .content .about .card .timeline {
  padding: 0 15px 0 15px;
}

.container .content .about .card .timeline .branch-up {
  display: block;
  width: 2px;
  height: 10px;
  background-color: grey;
  -webkit-transform: translate(7px, 0);
          transform: translate(7px, 0);
}

.container .content .about .card .timeline .rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid grey;
  margin-top: 0;
}

.container .content .about .card .timeline .rounder:hover {
  background-color: rgba(3, 169, 244, 0.3);
}

.container .content .about .card .timeline .rounder:active {
  background-color: #03a9f4;
}

.container .content .about .card .timeline .branch-down {
  display: block;
  width: 2px;
  height: 110%;
  background-color: grey;
  -webkit-transform: translate(7px, 0);
          transform: translate(7px, 0);
}

.container .content .about .card .text h4 {
  text-transform: uppercase;
  color: #03a9f4;
  font-weight: 600;
  font-size: 16px;
}

.container .content .about .card:last-child .branch-down {
  display: none;
}

.container .content .about .card:first-of-type .branch-up {
  background-color: #fff;
}

.container .content .about:last-child {
  margin-bottom: 0;
}

.container .content .l-skills .card {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}

.container .content .l-skills .card h4 {
  text-transform: uppercase;
  color: grey;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}

.container .content .l-skills .card .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #cacaca;
}

.container .content .l-skills .card .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}

.container .content .interest .xp-s {
  padding-left: 0;
}

.container .content .interest .xp-s .xp {
  padding: 10px 0px;
}

.container .content .interest .xp-s .xp .svg-extended-icon {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .interest .xp-s .xp .svg-extended-icon .text-box {
  text-transform: uppercase;
  color: grey;
  font-weight: 500;
  font-size: 16px;
}

.container .content .interest .xp-s .xp .svg-extended-icon .text-box h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}

.container .content .interest .xp-s .xp .svg-extended-icon .svg-icon {
  position: relative;
  min-width: 4rem;
  font-size: 2rem;
  color: #03a9f4;
}

/* date-company on top of card, hard skills title too, interest icons shrink, change for 800px width */
@media (max-width: 700px) {
  .container {
    margin-top: 60px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 550px) {
  .about .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .card .date-company {
    margin-bottom: 50px;
  }
  .about .timeline {
    display: none;
  }
}
/*# sourceMappingURL=biography.css.map */