@import './_parameters.sass'
@import './_scrollbar.sass'

@import './_navigation.sass'
@import './_detail.sass'

body
	background-image: none
	opacity: 0.9

.controller
	margin: 0
	padding: 0
	height: 100vh
	display: flex
	justify-content: center
	background-color: $background-dark-color
	background-image: linear-gradient(315deg, $background-dark-color 20%, $background-bright-color 90%)

	.container
		padding: 60px 0 50px 0
		width: 100%
		background: $detail-background-color
		display: grid
		grid-template-columns: 1fr 2fr
		justify-content: center
		overflow: hidden

		.protected
			user-select: none

		/*! Left side */
		/*! Right side */

		.sub-container
			height: calc(100vh - 110px)

			.scroll
				height: calc(100vh - 130px)

@media (max-width: 767px)
	.controller
		height: fit-content

	::-webkit-scrollbar
		width: 0.25em

	::-webkit-scrollbar-thumb
		background: $scrollbar-track-color
		border-radius: 100vw

	::-webkit-scrollbar-thumb:hover
		background: $scrollbar-hover-color

	.controller
		.container
			grid-template-columns: repeat(1, 1fr)
			background-color: $background-dark-color
			background-image: linear-gradient(315deg, $background-dark-color 20%, $background-bright-color 90%)

			.sub-container
				.scroll
					padding-bottom: 40px
