@import './_parameters.sass'

$navbar-height: $detail-navbar-height

/*! Left side - navigation style */
$navigation-background-color: $detail-contrast-color
$navigation-default-text-color: $detail-text-color
$navigation-icon-color: $detail-bright-color
$navigation-fade-color: $detail-fade-text
$navigation-spec-color: $detail-bright-color

/*! Right side - content style */
$content-left-min-width: 140px
$content-left-font-size: 16px

$content-background-color: $detail-background-color
$content-title-color: $detail-contrast-color
$content-xp-color: $detail-bright-color
$content-date-color: $detail-fade-text

body
	background-image: none
	background-color: grey
	opacity: 0.9

.controller
	margin: 0
	padding: 0
	box-sizing: border-box
	display: flex
	justify-content: center
	align-items: top
	min-height: 100vh
	background-color: #000000
	background-image: linear-gradient(315deg, #000000 20%, #414141 90%)

.container
	margin-top: 0
	position: relative
	width: 100%
	min-height: 300px
	background: $content-background-color
	padding: 0
	z-index: 0

	display: grid
	grid-template-columns: 1fr 2fr

	.navigation
		position: relative
		background: $detail-contrast-color
		padding: 40px

		a
			text-decoration: none

		.profile-text
			position: relative
			display: flex
			color: rgba($content-background-color, 0.5)
			flex-direction: column
			align-items: center
			padding-bottom: 10px
			border-bottom: 2px solid rgba($content-background-color, 0.5)

			.img-box
				position: relative
				width: 200px
				height: 200px
				border-radius: 50%
				overflow: hidden
				margin-bottom: 20px

				img
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					object-fit: c

			h2
				color: $detail-text-color
				font-size: 1.4em
				margin-top: 20px
				text-transform: uppercase
				text-align: center
				font-weight: 800
				line-height: 1.4em

				span
					font-size: 0.8em
					font-weight: 300

		.navigation-point
			padding-top: 30px

			.title
				font-size: 18px

			.contacts
				position: relative

				.svg-extended-icon
					width: 100%
					display: inline-flex
					padding-left: 10px
					position: relative
					list-style: none
					cursor: pointer
					font-size: $detail-text-size

					.svg-icon-box
						display: inline
						width: 30px
						font-size: $detail-text-size
						color: $navigation-icon-color
						padding-right: 10px

					.text-box
						display: inline
						color: $detail-text-color
						font-weight: 300

		.title
			color: $detail-text-color
			text-transform: uppercase
			font-weight: 600
			letter-spacing: 1px
			margin-bottom: 20px

		.education, .experience
			.xp-s
				padding-left: 0

				.xp:hover
					cursor: pointer
					border: 5px solid rgba($content-xp-color, 0.2)
					border-radius: 10px
					background-color: rgba($content-xp-color, 0.2)

				.xp
					border: 5px solid $content-title-color
					padding: 5px
					margin: 0

					h5
						color: $navigation-icon-color
						font-weight: 500
						font-size: $detail-text-size

					h4:nth-child()
						color: $detail-text-color
						font-weight: 500

					h4
						color: $detail-text-color
						font-weight: 300
						font-size: $detail-text-size

		.navigation-point.language
			.text
				color: white

				.spec
					padding-left: 5px
					color: $navigation-fade-color
					cursor: pointer

				.spec:hover
					color: $navigation-spec-color

			.percent
				position: relative
				width: 100%
				height: 6px
				background-color: rgba($detail-empty-percent-color, 0.3)
				display: block
				margin: 10px 0px

				div
					position: absolute
					top: 0
					left: 0
					height: 100%
					background: $navigation-icon-color

	.content
		position: relative
		background: $content-background-color
		padding: 50px 50px 80px 50px

		.title
			color: $content-title-color
			text-transform: uppercase
			font-weight: 700
			letter-spacing: 1px
			margin-bottom: 10px
			vertical-align: text-top

		p
			color: $content-title-color

		.about
			margin-bottom: 50px
			position: relative

			.anchor-jump
				position: absolute
				top: -75px
				visibility: hidden
				width: 100%

			.card
				background-color: $content-background-color
				display: flex
				flex-direction: row
				margin: 20px 0
				border: none

				.date-company
					max-width: $content-left-min-width
					min-width: $content-left-min-width

					h5
						text-transform: uppercase
						color: $content-date-color
						font-weight: 600
						font-size: $content-left-font-size

				.timeline
					padding: 0 15px 0 15px

					.branch-up
						display: block
						width: 2px
						height: 10px
						background-color: $content-date-color
						transform: translate(7px, 0)

					.rounder
						position: relative
						display: block
						width: 16px
						height: 16px
						background-color: white
						border-radius: 50%
						border: 3px solid $content-date-color
						margin-top: 0

					.rounder:hover
						background-color: rgba($content-xp-color, 0.3)

					.rounder:active
						background-color: $content-xp-color

					.branch-down
						display: block
						width: 2px
						height: 110%
						background-color: $content-date-color
						transform: translate(7px, 0)

				.text
					h4
						text-transform: uppercase
						color: $content-xp-color
						font-weight: 600
						font-size: $content-left-font-size

			.card:last-child
				.branch-down
					display: none

			.card:first-of-type
				.branch-up
					background-color: $content-background-color

		.about:last-child
			margin-bottom: 0

		.l-skills
			.card
				position: relative
				width: 100%
				display: grid
				grid-template-columns: $content-left-min-width 1fr
				justify-content: center
				align-items: baseline
				margin-bottom: 30px

				h4
					text-transform: uppercase
					color: $content-date-color
					font-weight: 500
					font-size: $content-left-font-size
					margin-bottom: 0

				.percent
					position: relative
					width: 100%
					height: 10px
					background-color: $detail-empty-percent-color

					div
						position: absolute
						top: 0
						left: 0
						height: 100%
						background-color: $content-xp-color

		.interest
			.xp-s
				padding-left: 0

				.xp
					padding: 10px 0px

					.svg-extended-icon
						position: relative
						width: 100%
						display: grid
						grid-template-columns: $content-left-min-width 1fr
						justify-content: center
						align-items: center

						.text-box
							text-transform: uppercase
							color: $content-date-color
							font-weight: 500
							font-size: $content-left-font-size

							h4
								margin-bottom: 0
								font-size: 16px
								font-weight: 500

						.svg-icon
							position: relative
							min-width: 4rem
							font-size: 2rem
							color: $navigation-icon-color

/* date-company on top of card, hard skills title too, interest icons shrink, change for 800px width */
@media (max-width: 800px)
	.container

@media (max-width: 700px)
	.container
		margin-top: 60px
		grid-template-columns: repeat(1, 1fr)

@media ( max-width: 550px )
	.about
		.card
			flex-direction: column

			.date-company
				margin-bottom: 50px

		.timeline
			display: none
