.scroll {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.container .scroll {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container ::-webkit-scrollbar {
  width: 0.25em;
}

.container ::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 100vw;
}

/*! General */
/*! Scrollbar */
/*! Left side - navigation style */
/*! Right side - content style */
body {
  background-image: none;
  opacity: 0.9;
}

.controller {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 20%, #383838 90%);
}

.container {
  margin-top: 0;
  padding: 60px 0 0 0;
  width: 100%;
  background: #dbdbdb;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*! Left side */
  /*! Right side */
}

.container .protected {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .navigation {
  position: relative;
  background: #383838;
  padding: 10px 40px;
}

.container .navigation .scroll {
  padding: 30px 0 60px 0;
}

.container .navigation .scroll .about {
  margin-right: 25px;
}

.container .navigation .scroll .about a {
  text-decoration: none;
}

.container .navigation .scroll .about .profile-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(219, 219, 219, 0.5);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(219, 219, 219, 0.5);
}

.container .navigation .scroll .about .profile-text .img-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.container .navigation .scroll .about .profile-text .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: c;
     object-fit: c;
}

.container .navigation .scroll .about .profile-text h2 {
  color: #fff;
  font-size: 1.4em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  line-height: 1.4em;
}

.container .navigation .scroll .about .profile-text h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.container .navigation .scroll .about .navigation-point {
  padding-top: 30px;
}

.container .navigation .scroll .about .navigation-point .title {
  font-size: 18px;
}

.container .navigation .scroll .about .navigation-point .contacts {
  position: relative;
}

.container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 10px;
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 16px;
}

.container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .svg-icon-box {
  display: inline;
  width: 30px;
  font-size: 16px;
  color: #000000;
  padding-right: 10px;
}

.container .navigation .scroll .about .navigation-point .contacts .svg-extended-icon .text-box {
  display: inline;
  color: #fff;
  font-weight: 300;
}

.container .navigation .scroll .about .title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.container .navigation .scroll .about .education .xp-s, .container .navigation .scroll .about .experience .xp-s {
  padding-left: 0;
}

.container .navigation .scroll .about .education .xp-s .xp:hover, .container .navigation .scroll .about .experience .xp-s .xp:hover {
  cursor: pointer;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.container .navigation .scroll .about .education .xp-s .xp, .container .navigation .scroll .about .experience .xp-s .xp {
  border: 5px solid #383838;
  padding: 5px;
  margin: 0;
}

.container .navigation .scroll .about .education .xp-s .xp h5, .container .navigation .scroll .about .experience .xp-s .xp h5 {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}

.container .navigation .scroll .about .education .xp-s .xp h4:nth-child(), .container .navigation .scroll .about .experience .xp-s .xp h4:nth-child() {
  color: #fff;
  font-weight: 500;
}

.container .navigation .scroll .about .education .xp-s .xp h4, .container .navigation .scroll .about .experience .xp-s .xp h4 {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.container .navigation .scroll .about .navigation-point.language .text {
  color: #fff;
}

.container .navigation .scroll .about .navigation-point.language .text .spec {
  padding-left: 5px;
  color: grey;
  cursor: pointer;
  font-weight: 700;
}

.container .navigation .scroll .about .navigation-point.language .text .spec:hover {
  color: #000000;
}

.container .navigation .scroll .about .navigation-point.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: rgba(202, 202, 202, 0.3);
  display: block;
  margin: 10px 0px;
}

.container .navigation .scroll .about .navigation-point.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000000;
}

.container .detail {
  position: relative;
  background: #dbdbdb;
  padding: 10px 40px;
}

.container .detail .scroll {
  padding-bottom: 30px;
}

.container .detail .scroll .about {
  margin-right: 25px;
}

.container .detail .scroll .about .title {
  color: #383838;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 45px 0 30px 0;
  vertical-align: text-top;
}

.container .detail .scroll .about p {
  color: #383838;
}

.container .detail .scroll .about .info {
  margin-right: 25px;
  position: relative;
}

.container .detail .scroll .about .info .anchor-jump {
  position: absolute;
  top: -25px;
  visibility: hidden;
  width: 100%;
}

.container .detail .scroll .about .info .card {
  background-color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  border: none;
}

.container .detail .scroll .about .info .card .date-company {
  max-width: 140px;
  min-width: 140px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.container .detail .scroll .about .info .card .date-company h5 {
  text-transform: uppercase;
  color: grey;
  font-weight: 600;
  font-size: 16px;
}

.container .detail .scroll .about .info .card .branch {
  padding: 0 15px 0 15px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container .detail .scroll .about .info .card .branch .branch-up {
  display: block;
  width: 2px;
  height: 3px;
  background-color: grey;
  -webkit-transform: translate(7px, 0);
          transform: translate(7px, 0);
}

.container .detail .scroll .about .info .card .branch .rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid grey;
  margin-top: 0;
}

.container .detail .scroll .about .info .card .branch .rounder:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.container .detail .scroll .about .info .card .branch .rounder:active {
  background-color: #000000;
}

.container .detail .scroll .about .info .card .branch .branch-down {
  display: block;
  width: 2px;
  height: 110%;
  background-color: grey;
  -webkit-transform: translate(7px, 0);
          transform: translate(7px, 0);
}

.container .detail .scroll .about .info .card .text {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.container .detail .scroll .about .info .card .text h4 {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

.container .detail .scroll .about .info .card:last-child .branch-down {
  display: none;
}

.container .detail .scroll .about .info .card:first-of-type .branch-up {
  background-color: #dbdbdb;
}

.container .detail .scroll .about .info:last-child {
  margin-bottom: 0;
}

.container .detail .scroll .about .l-skills .card {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
}

.container .detail .scroll .about .l-skills .card h4 {
  text-transform: uppercase;
  color: grey;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}

.container .detail .scroll .about .l-skills .card .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #cacaca;
}

.container .detail .scroll .about .l-skills .card .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #000000;
}

.container .detail .scroll .about .interest {
  padding-bottom: 20px;
}

.container .detail .scroll .about .interest .xp-s {
  padding-left: 0;
}

.container .detail .scroll .about .interest .xp-s .xp {
  padding: 10px 0px;
}

.container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon .text-box {
  text-transform: uppercase;
  color: grey;
  font-weight: 500;
  font-size: 16px;
}

.container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon .text-box h4 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}

.container .detail .scroll .about .interest .xp-s .xp .svg-extended-icon .svg-icon {
  position: relative;
  min-width: 4rem;
  font-size: 2rem;
  color: #000000;
}

@media (max-width: 1000px) {
  .container .detail .info .card {
    direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .detail .info .card .text {
    border-bottom: 2px solid #000000;
  }
  .container .detail .info .card .branch {
    display: none;
  }
}

@media (max-width: 770px) {
  .controller {
    height: 1900px;
  }
  .controller .navigation {
    padding: 50px 40px;
  }
  .controller .detail {
    padding: 50px 40px;
  }
  ::-webkit-scrollbar {
    width: 0.25em;
  }
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }
  .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 20%, #383838 90%);
  }
  .container .sub-container .scroll {
    padding-bottom: 0;
  }
}

@media (max-width: 550px) {
  .container .detail .info .card {
    direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .detail .info .card .text {
    border-bottom: 2px solid #000000;
  }
  .container .detail .info .card .branch {
    display: none;
  }
}
/*# sourceMappingURL=biography.css.map */